# Code needs to be run with Unix-style line endings, even when checked out on Windows
* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
package-lock.json linguist-generated=true
uv.lock linguist-generated=true
docs/readme_screenshot.png filter=lfs diff=lfs merge=lfs -text
