name: nightly-ci
on:
  workflow_dispatch:
  schedule:
    # Run at 1:14 am every night, to avoid high load at common schedule times.
    - cron: "14 1 * * *"
permissions:
  contents: read
jobs:
  test-server-slow:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:18-3.6
        env:
          POSTGRES_DB: django
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd "pg_isready --username postgres"
          --health-start-period 30s
          --health-start-interval 2s
        ports:
          - 5432:5432
      rabbitmq:
        image: rabbitmq:management-alpine
        options: >-
          --health-cmd "rabbitmq-diagnostics ping"
          --health-start-period 30s
          --health-start-interval 2s
        ports:
          - 5672:5672
      minio:
        # This image does not require any command arguments (which GitHub Actions don't support)
        image: bitnamilegacy/minio:latest
        env:
          MINIO_ROOT_USER: minioAccessKey
          MINIO_ROOT_PASSWORD: minioSecretKey
        options: >-
          --health-cmd "mc ready local"
          --health-timeout 1s
          --health-start-period 30s
          --health-start-interval 2s
        ports:
          - 9000:9000
      redis:
        image: redis:alpine
        options: >-
          --health-cmd "redis-cli ping"
          --health-start-period 30s
          --health-start-interval 2s
        ports:
          - 6379:6379
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run tests
        run: |
          uv run tox -e test -- -m slow
        env:
          DJANGO_DATABASE_URL: postgres://postgres:postgres@localhost:5432/django
          DJANGO_CELERY_BROKER_URL: amqp://localhost:5672/
          DJANGO_MINIO_STORAGE_URL: http://minioAccessKey:minioSecretKey@localhost:9000/django-storage
          DJANGO_REDIS_URL: redis://localhost:6379
          DJANGO_GEOINSIGHT_WEB_URL: http://localhost:8080/
